#### Thoughts
1. Set up train/test
    - Most important: time-based
    - Can we also do an ID-based, given half of test are unseen shop-item combos?
2. Almost half of the shop-item combos in test are unseen in train, how to improve this?
    - Train a separate model on unseen?
        - Use stats of items from other shops? (mean encoding?)
        - probably build some similarity features with names?
3. Features
    - time-based
        - Seasonality (one-hot encode month)
        - Previous month?
        - Price change?

In [1]:
import os
import re
import pandas as pd
import numpy as np

from sklearn import model_selection
from sklearn.linear_model import LinearRegression

import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
import pickle

In [26]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv(r'../data/sales_train.csv.gz')
train.shape

(2935849, 6)

In [5]:
test = pd.read_csv(r'../data/test.csv.gz')

#### Check what is in other data

In [4]:
items0 = pd.read_csv(r'../data/items.csv')
shops0 = pd.read_csv(r'../data/shops.csv')
item_cat0 = pd.read_csv(r'../data/item_categories.csv')

In [9]:
items0[:3] # ok contains name of the item/cat/shop; ABBYY FineReader??

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2

In [10]:
train[:3]

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154       999.0           1.0
1  03.01.2013               0       25     2552       899.0           1.0
2  05.01.2013               0       25     2552       899.0          -1.0

In [12]:
train[(train.shop_id==25)&(train.item_id==2552)]  
# looks like return. looks like negative rows should be removed
# Or make a "returned?" feature

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
1  03.01.2013               0       25     2552       899.0           1.0
2  05.01.2013               0       25     2552       899.0          -1.0

In [14]:
(train['item_cnt_day']==0).sum()

0

In [19]:
train2 = train[(train.item_cnt_day>0) & train.shop_id.isin(test.shop_id.unique())]
print(train2.shape)

(2407081, 6)

In [21]:
train2['date2'] = pd.to_datetime(train2['date'],format='%d.%m.%Y')
train2.drop(labels='date',axis=1,inplace=True)

/Users/xiaoyu7016/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/xiaoyu7016/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
train2['month'] = train2.date2.dt.month

/Users/xiaoyu7016/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [28]:
train2.shop_id.nunique()

42

In [30]:
pickle.dump(train2,open(r'../data2/train_42shops.pkl','wb'))

### Aggregate sale by month

In [52]:
train2.sort_values(by=['date_block_num','shop_id','item_id','date2'],inplace=True)
train3 = train2.groupby(['date_block_num','month','shop_id','item_id'])\
    .agg({'item_cnt_day':'sum','item_price':['first','mean','last']})\
    .reset_index()
train3[:3]

  date_block_num month shop_id item_id item_cnt_day item_price
                                                sum      first    mean    last
0              0     1       2      27          1.0     2499.0  2499.0  2499.0
1              0     1       2      33          1.0      499.0   499.0   499.0
2              0     1       2     317          1.0      299.0   299.0   299.0

In [53]:
train3.columns = train3.columns.droplevel(1)
train3.columns = ['date_block_num', 'month', 'shop_id', 'item_id', 'item_cnt_month','f_p','m_p','l_p']
train3[:3]

,date_block_num,month,shop_id,item_id,item_cnt_month,f_p,m_p,l_p
0,0,1,2,27,1.0,2499.0,2499.0,2499.0
1,0,1,2,33,1.0,499.0,499.0,499.0
2,0,1,2,317,1.0,299.0,299.0,299.0

### Set up time-based train-test split

In [31]:
hold_out_month = 33

In [60]:
train3['shop_item'] = train3['shop_id'].astype(str)+ '-' + train3['item_id'].astype(str)

In [61]:
X_tr = train3.drop(labels='item_cnt_month',axis=1)[train3.date_block_num < hold_out_month]
X_val = train3.drop(labels='item_cnt_month',axis=1)[train3.date_block_num==hold_out_month]
y_tr = train3.loc[train3.date_block_num < hold_out_month,'item_cnt_month']
y_val = train3.loc[train3.date_block_num < hold_out_month,'item_cnt_month']
print(X_tr.shape, X_val.shape)

(1292286, 8) (30744, 8)

In [62]:
X_val['shop_item'].isin(X_tr['shop_item'].unique()).sum()  # 6,000 (20% unseen)

24277